$load-wrap-z-index: 10;
$bottom-z-index: -1;
$absolute-z-index: 10;
$overlay-z-index: 2;
$sidebar-z-index: 1000;
$joyride-expose-cover-z-index: 10000;
$joyride-modal-bg-z-index: 1030;
$joyride-tip-guide-z-index: 1040;
$joyride-expose-wrapper-z-index: 102;
$logo-animated-z-index: 11;
$highcharts-tooltip-z-index:5;
$highcharts-data-labels-z-index:0;
$navbar-toggle-z-index:9;
$home-hero-z-index: 1;
$video-hero-z-index: 0;
$metrics-text-z-index: 1;